<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMORA - Shto orar</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/addUser.css"/>
</head>
<!--const turnServerIPAddress = "stun.l.google.com:19305";-->
<!--const turnServerPort = "TURN_SERVER_PORT";-->
<!--const turnServerUserName = "TURN_SERVER_USERNAME";-->
<!--const turnServerPassword = "TURN_SERVER_PASSWORD";-->

<body>
    <div class="menu">
        <div class="header">
            <p>SIMORA</p>
        </div>
        <div class="photo">
            <img src="../static/images/Avatar.png" th:src="@{images/Avatar.png}" width="200px" height="200px">
        </div>
        <div class="info">
            <p th:text="${currentUser.ID}"></p>
            <p><span th:text="${currentUser.firstName}"></span> <span>&nbsp;</span><span th:text="${currentUser.lastName}"></span></p>
            <p th:text="${currentUser.email}"></p>
            <p th:text="${currentUser.department}"></p>
            <p>FSHMN</p>
        </div>
        <div style="margin-top: 125px;" class="menuItems">
            <nav>
                <ul>
                    <li ><a href="/"> Orari i provimeve </a></li>
                    <hr>
                    <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" > <a href="/videoCall">Kontakto profesoret </a></li>
                    <hr th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"> <a href="/addUser">Shto shfrytezues </a></li>
                    <hr th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <li th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"> <a href="/videoCall">Kontakto administratorin </a></li>
                    <hr th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                </ul>
            </nav>
        </div>
        <div class="footer">
            <form th:action="@{/logout}" method="post">
                <input style=" all: initial; color:white; cursor:pointer;" type="submit" value="Ckyqu"/>
            </form>
            <a href="recoveryEmail" id="changePass">Ndrysho fjalekalimin</a>
        </div>
    </div>

    <div class="content">
        <div style="margin-top: 100px;" class="contentTitle">
            <h2>SHTO ORAR</h2>
        </div>
        <div class="addUser">
            <form action="/schedule/add" method="GET">
                <table>
                    <tr>
                        <td>
                            <label>Departamenti:</label>
                        </td>
                        <td>
                            <select name="department" id="selectDepartment" onclick="selectChanged();">
                                <option value="Zgjedh Departamentin">Zgjedh Departamentin</option>
                                <option value="Matematike">Matematike</option>
                                <option value="Fizike">Fizike</option>
                                <option value="Kimi">Kimi</option>
                                <option value="Biologji">Biologji</option>
                                <option value="Gjeografi">Gjeografi</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Salla:</label>
                        </td>
                        <td>
                            <select name="room" id="selectRoom">
                                <option value="Zgjedh Sallen" class="Zgjedh Departamentin">Zgjedh Sallen</option>
                                <option value="Salla 153" class="Matematike" hidden>Salla 153</option>
                                <option value="Salla 114" class="Matematike" hidden>Salla 114</option>
                                <option value="Salla 113" class="Matematike" hidden>Salla 113</option>
                                <option value="Lab M" class="Matematike" hidden>Lab M</option>
                                <option value="Lab V" class="Matematike" hidden>Lab V</option>
                                <option value="Lab B" class="Matematike" hidden>Lab B</option>
                                <option value="Salla 100" class="Fizike" hidden>Salla 100</option>
                                <option value="Salla 101" class="Fizike" hidden>Salla 101</option>
                                <option value="Salla 200" class="Biologji" hidden>Salla 200</option>
                                <option value="Salla 201" class="Biologji" hidden>Salla 201</option>
                                <option value="Salla 300" class="Kimi" hidden>Salla 300</option>
                                <option value="Salla 301" class="Kimi" hidden>Salla 301</option>
                                <option value="Salla 400" class="Gjeografi" hidden>Salla 400</option>
                                <option value="Salla 401" class="Gjeografi" hidden>Salla 401</option>
                            </select>
                            <script>
                                function selectChanged() {
                                    var selectDepartment = document.getElementById("selectDepartment");
                                    var selectRoomOptions = document.getElementsByClassName(selectDepartment.value);
                                    var selectRoom = document.getElementById("selectRoom").options;
                                    for(var i = 1; i<selectRoom.length; i++)
                                    {
                                        selectRoom[i].hidden = true;
                                    }

                                    for (var i = 0; i < selectRoomOptions.length; i++) {
                                        selectRoomOptions[i].hidden = false;
                                    }
                                }
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Lenda:</label>
                        </td>
                        <td>
                            <datalist id="lendetM"></datalist>
                            <input type="text" list="lendetM" name="subject">
                        </td>
                    </tr>
                    <tr>
                        <td><label>ID: </label></td>
                        <td><input type="text" name="ID">
                            </td>
                    </tr>
                    <tr>
                        <td><label>Data dhe koha e fillimit:</label></td>
                        <td>
                            <input type="datetime-local" name="startDate">
                        </td>
                    </tr>
                    <tr>
                        <td><label>Data dhe koha e mbarimit: </label></td>
                        <td><input type="datetime-local" name="endDate"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="SHTO">
                        </td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
</body>

</html>