<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMORA - Shto shfrytezues</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/addUser.css"/>
</head>
<body>
<div class="menu">
    <div class="header">
        <p>SIMORA</p>
    </div>
    <div class="photo">
        <img src="../static/images/Avatar.png" th:src="@{~/images/Avatar.png}" width="200px" height="200px">
    </div>
    <div class="info">
        <p th:text="${currentUser.ID}"></p>
        <p><span th:text="${currentUser.firstName}"></span> <span>&nbsp;</span><span th:text="${currentUser.lastName}"></span></p>
        <p th:text="${currentUser.email}"></p>
        <p th:text="${currentUser.department}"></p>
        <p>FSHMN</p>
    </div>
    <div style="margin-top: 125px;" class="menuItems">
        <nav>
            <ul>
                <li ><a href="/"> Orari i provimeve </a></li>
                <hr>
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" > <a href="/videoCall">Kontakto profesoret </a></li>
                <hr th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"> <a href="/addUser">Shto shfrytezues </a></li>
                <hr th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <li th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"> <a href="/videoCall">Kontakto administratorin </a></li>
                <hr th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
            </ul>
        </nav>
    </div>
    <div class="footer">
        <form th:action="@{/logout}" method="post">
            <input style=" all: initial; color:white; cursor:pointer;" type="submit" value="Ckyqu"/>
        </form>
        <a href="../recoveryEmail" id="changePass">Ndrysho fjalekalimin</a>
    </div>
</div>

<div class="content" style="text-align:center;">
    <h1 style="color:green; margin-top:350px;">Data e fillimit ishte pas dates se mbarimit</h1>
    <button style=" width: 250px; height: 50px; border-radius: 15px; background-color: #9A2323;color: white;font-size:20px">
        <a href="/" >Kthehu te faqja kryesore</a>
    </button>
</div>
</body>
</html>