<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- Add icon library -->
    <link rel="stylesheet" th::href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"
          href="../css/login.css">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">

    <div class="simora">
        <h3>Platforma per menaxhimin e orarit te provimeve</h3>
        <h1>SIMORA</h1>
        <h4>FSHMN 2020</h4>
    </div>

    <div class="login">

        <form th:action="@{/login}" method="post">
        <img src="../static/images/logo.png" th:src="@{images/logo.png}" alt="logo e UP" width="200px"/>

            <div class="id">
                <label>Perdoruesi:</label><br>
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder="Shkruaj emailin..." name="username"><br>
                <label>Fjalekalimi:</label><br>
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Shkruaj fjalekalimin..." name="password"><br>

                <input type="submit" value="Kycu">
            </div>
        </form>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <p><a href="#">Keni harruar fjalekalimin?</a></p>
    </div>
</div>


</body>
</html>