
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"
          href="../css/login.css">
</head>
<body>
<div class="container">

    <div class="simora">
        <h3>Platforma per menaxhimin e orarit te provimeve</h3>
        <h1>SIMORA</h1>
        <h4>FSHMN 2020</h4>
    </div>

    <div class="login">
        <form action="changePassword" method="get">
            <img src="../../static/images/logo.png" th:src="@{images/logo.png}" alt="logo e UP" width="200px"/>

            <div class="id">
                <label>Shkruani emailin:</label><br>
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder="Shkruaj ID..." name="ID"><br>
                <p id="recover">Ne do të dërgojmë një kod <br>pesëshifror në emailin tuaj</p>
                <input type="submit" value="Dergo">
                <div th:if="${param.error}" style="text-align:center;font-size:14px;color:red;">
                    ID jo valide
                </div>
            </div>

        </form>
    </div>
</div>


</body>
</html>