<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/videoCall.css"/>

    <title>SIMORA - Kontakto</title>
</head>
<body>

</body>
<div class="menu">
    <div class="header">
        <p>SIMORA</p>
    </div>
    <div class="photo">
        <img src="../static/images/Avatar.png" th:src="@{images/Avatar.png}" width="200px" height="200px">
    </div>
    <div class="info">
        <p th:text="${currentUser.ID}"></p>
        <p><span th:text="${currentUser.firstName}"></span> <span>&nbsp;</span><span th:text="${currentUser.lastName}"></span></p>
        <p th:text="${currentUser.email}"></p>
        <p th:text="${currentUser.department}"></p>
        <p>FSHMN</p>
    </div>
    <div style="margin-top: 125px;" class="menuItems">
        <nav>
            <ul>
                <li ><a href="/"> Orari i provimeve </a></li>
                <hr>
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" > <a href="/videoCall">Kontakto profesoret </a></li>
                <hr th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"> <a href="/addUser">Shto shfrytezues </a></li>
                <hr th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <li th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"> <a href="/videoCall">Kontakto administratorin </a></li>
                <hr th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
            </ul>
        </nav>
    </div>
    <div class="footer">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Ckyqu" id="logout"/>
        </form>
        <a href="recoveryEmail" id="changePass">Ndrysho fjalekalimin</a>
    </div>
</div>

<div class="content">
    <div class="call">
    <p style="text-align: center">Prek kameren tende nese deshiron te nderrosh kameren nga para prapa dhe anasjelltas(telefon)</p>

    <div id="videoContainer">
        <video id="localVideo" onclick="switchMobileCamera()" muted autoplay playsinline></video>
        <video id="remoteVideo" autoplay playsinline></video>
    </div>
    <button style="background-color: green" id="sendOfferButton" onclick="createAndSendOffer()">Thirr</button>
    <button id="answerButton" onclick="createAndSendAnswer()">Pergjigju</button>
    <button id="hangUpButton" onclick="disconnectRTCPeerConnection()">Mbylle</button><br/><br/>

    </div>
    <div class="message">
        <textarea readonly id="chatTextArea" style="width: 500px;
    height: 250px;    border: 4px solid #AB1112;
    border-radius: 10px;"></textarea><br/><br>
    <input id="messageInput" type="text" size="80" placeholder="Shkruaj mesazhin per ta derguar..." style="width: 330px;
    height: 50px;
    float: left;border-radius: 10px; ">
    <button id="sendMessageButton" onclick="sendMessage()">Dergo mesazhin</button><br/><br/>
    </div>

    <textarea readonly id="logs"></textarea><br/><br/>


    </div>
    <br/><br/>


<script th:inline="javascript">
    const webSocketConnection = "ws://localhost:8099/socket";


    var cameraMode = "user";
    var inBoundTimestampPrev = 0;
    var inBoundBytesPrev = 0;
    var outBoundTimestampPrev = 0;
    var outBoundBytesPrev = 0;

    existingTracks = [];

    var socket, localStream, connection, clientId = uuidv4(), channel;

    const configuration = {

    }

    disableAllButtons();

    getLocalWebCamFeed();


    /*
        This function creates the socket connection and WebRTC connection.
        This is also responsible for changing media tracks when user switches mobile cameras (Front and back)
    */
    function initiatSocketAndPeerConnection(stream){
        document.getElementById("localVideo").srcObject = stream;

        if(typeof socket === 'undefined'){
            connectToWebSocket();
        }else{
            existingTracks.forEach(function (existingTrack, index) {
                existingTrack.replaceTrack(localStream.getTracks()[index]);
            });
        }
    }

    function disableAllButtons(){
        document.getElementById("sendOfferButton").disabled = true;
        document.getElementById("sendOfferButton").style.backgroundColor = "red";

        document.getElementById("answerButton").disabled = true;
        document.getElementById("answerButton").style.backgroundColor = "red";

        document.getElementById("sendMessageButton").disabled = true;
         document.getElementById("sendMessageButton").style.backgroundColor = "red";

        document.getElementById("hangUpButton").disabled = true;
         document.getElementById("hangUpButton").style.backgroundColor = "red";

    }

    /*
        Dergimi i mesazhit me dataChannel
    */
    function sendMessage(){
        var messageText = document.getElementById("messageInput").value;

        channel.send(JSON.stringify({
            "message": messageText
        }));

        document.getElementById("chatTextArea").value += 'Ti:'+messageText + '\n';
    }

    function disconnectRTCPeerConnection(){
        connection.close();
    }

    /*
       Lidhja me websocket
    */
    function connectToWebSocket(){
        socket = new WebSocket(webSocketConnection);

        // Create WebRTC connection only if the socket connection is successful.
        socket.onopen = function(event) {
            log('WebSocket Connection Open.');
            createRTCPeerConnection();
        };

        // Handle messages recieved in socket
        socket.onmessage = function(event) {
            jsonData = JSON.parse(event.data);

            switch (jsonData.type){
                case 'candidate':
                    handleCandidate(jsonData.data, jsonData.id);
                    break;
                case 'offer':
                    handleOffer(jsonData.data, jsonData.id);
                    break;
                case 'answer':
                    handleAnswer(jsonData.data, jsonData.id);
                    break;
                default:
                    break
            }
        };

        socket.onerror = function(event) {
            console.error(event);
            log('WebSocket Connection Error. Make sure web socket URL is correct and web socket server is up and running at - ' + webSocketConnection);
        };

        socket.onclose = function(event) {
            log('WebSocket Connection Closed. Please Reload the page.');
            document.getElementById("sendOfferButton").disabled = true;
            document.getElementById("sendOfferButton").style.backgroundColor = "red";

            document.getElementById("answerButton").disabled = true;
            document.getElementById("answerButton").style.backgroundColor = "red";

        };
    }

    function log(message){
        document.getElementById("logs").value += message + '\n';
    }

    /*
        Get local camera permission from user and initiate socket and WebRTC connection
    */
    function getLocalWebCamFeed(){

        // width: { ideal: 4096 },
        // height: { ideal: 2160 }

        constraints = {
            audio: true,
            video: {
                facingMode: cameraMode,
                width: { ideal: 4096 },
                height: { ideal: 2160 }
            }
        }

        navigator.getWebcam = (navigator.getUserMedia || navigator.webKitGetUserMedia || navigator.moxGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia(constraints)
            .then(function (stream) {
                localStream = stream;
                initiatSocketAndPeerConnection(stream);
            })
            .catch(function (e) { log(e.name + ": " + e.message); });
        }
        else {
            navigator.getWebcam({ audio: true, video: true },
                function (stream) {
                    localStream = stream;
                    initiatSocketAndPeerConnection(stream);
                },
                function () { log("Web cam is not accessible.");
            });
        }
    }

    /*
        This is responsible for creating an RTCPeerConnection and handle it's events.
    */
    function createRTCPeerConnection(){
        pushStats();
        connection = new RTCPeerConnection(configuration);

        // Add both video and audio tracks to the connection
        for (const track of localStream.getTracks()) {
            log("Sending Stream.")
            existingTracks.push(connection.addTrack(track, localStream));
        }

        // This event handles displaying remote video and audio feed from the other peer
        connection.ontrack = event => {
            log("Recieved Stream.");
            document.getElementById("remoteVideo").srcObject = event.streams[0];
        }

        // This event handles the received data channel from the other peer
        connection.ondatachannel = function (event) {
            log("Recieved a DataChannel.")
            channel = event.channel;
            setChannelEvents(channel);
            document.getElementById("sendMessageButton").disabled = false;
            document.getElementById("sendMessageButton").style.backgroundColor = "green";

        };

        // This event sends the ice candidates generated from Stun or Turn server to the Receiver over web socket
        connection.onicecandidate = event => {
            if (event.candidate) {
                log("Sending Ice Candidate - " + event.candidate.candidate);

                socket.send(JSON.stringify(
                    {
                        action: 'onMessage',
                        type: 'candidate',
                        data: event.candidate,
                        id: clientId
                    }
                ));
            }
        }

        // ne nderrim te statusit si te reagojme
        connection.onconnectionstatechange = function(event) {
            switch(connection.connectionState) {
                case "connected":
                    log("Web RTC Peer Connection Connected.");
                    document.getElementById("answerButton").disabled = true;
                    document.getElementById("answerButton").style.backgroundColor = "red";
                    document.getElementById("sendOfferButton").disabled = true;
                    document.getElementById("sendOfferButton").style.backgroundColor = "red";

                    document.getElementById("hangUpButton").disabled = false;
                    document.getElementById("hangUpButton").style.backgroundColor = "green";
                    document.getElementById("sendMessageButton").disabled = false;
                    document.getElementById("sendMessageButton").style.backgroundColor = "green";


                    break;
                case "disconnected":
                    log("Web RTC Peer Connection Disconnected. Please reload the page to reconnect.");
                    disableAllButtons();
                    break;
                case "failed":
                    log("Web RTC Peer Connection Failed. Please reload the page to reconnect.");
                    console.log(event);
                    disableAllButtons();
                    break;
                case "closed":
                    log("Web RTC Peer Connection Failed. Please reload the page to reconnect.");
                    disableAllButtons();
                    break;
                default:
                    break;
            }
        }

        log("Web RTC Peer Connection Created.");
        document.getElementById("sendOfferButton").disabled = false;
        document.getElementById("sendOfferButton").style.backgroundColor = "green";

    }

    /*
        Krijon dhe dergon oferten per  te komunikuar
    */
    function createAndSendOffer(){
        if(channel){
            channel.close();
        }

        // Create Data channel
        channel = connection.createDataChannel('channel', {});
        setChannelEvents(channel);

        // Create Offer
        connection.createOffer().then(
            offer => {
                log('Sent The Offer.');

                // dergo oferten tek bashkebiseduesi
                socket.send(JSON.stringify(
                    {
                        action: 'onMessage',
                        type: 'offer',
                        data: offer,
                        id: clientId
                    }
                ));

                // vendose oferten
                connection.setLocalDescription(offer);
            },
            error => {
                log('Error when creating an offer.');
                console.error(error);
            }
        );
    }

    /*
        krijon dhe dergon pranimin e ofertes
    */
    function createAndSendAnswer(){

        // Create Answer
        connection.createAnswer().then(
            answer => {
                log('Sent The Answer.');

                // Set Answer for negotiation
                connection.setLocalDescription(answer);

                // Send Answer to other peer
                socket.send(JSON.stringify(
                    {
                        action: 'onMessage',
                        type: 'answer',
                        data: answer,
                        id: clientId
                    }
                ));
            },
            error => {
                log('Error when creating an answer.');
                console.error(error);
            }
        );
    }

    /*
        Pranon ICE kandidatet nga thirresi
    */
    function handleCandidate(candidate, id){

        // Avoid accepting the ice candidate if this is a message created by the current peer
        if(clientId != id){
            log("Adding Ice Candidate - " + candidate.candidate);
            connection.addIceCandidate(new RTCIceCandidate(candidate));
        }
    }

    /*
        Pranon thirrjen nga perdoruesi
    */
    function handleOffer(offer, id){

        // Injoron nese ka krijuar vete oferten
        if(clientId != id){
            log("Recieved The Offer.");
            connection.setRemoteDescription(new RTCSessionDescription(offer));
            document.getElementById("answerButton").disabled = false;
            document.getElementById("answerButton").style.backgroundColor = "green";


            document.getElementById("sendOfferButton").disabled = true;
            document.getElementById("sendOfferButton").style.backgroundColor = "red";

        }
    }

    /*
        Pranon pranimin nga admini
    */
    function handleAnswer(answer, id){

        // Injoron nese ka pranuar vete kete
        if(clientId != id){
            log("Recieved The Answer");
            connection.setRemoteDescription(new RTCSessionDescription(answer));
        }
    }

    /*
        Gjeneron nje id unike per cliientID
    */
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }


    function setChannelEvents(channel) {
        channel.onmessage = function (event) {
            var data = JSON.parse(event.data);
            document.getElementById("chatTextArea").value += 'Bashkebiseduesi: '+data.message + '\n';
        };

        channel.onerror = function (event) {
            log('DataChannel Error.');
            console.error(event)
        };

        channel.onclose = function (event) {
            log('DataChannel Closed.');
            disableAllButtons();
        };
    }

    /*
        Kur te je ne mobil mund ta nderrosh kameren me klikim
    */
    function switchMobileCamera(){
        if (cameraMode == "user") {
            cameraMode = "environment";
        } else {
            cameraMode = "user";
        }

        getLocalWebCamFeed();
    }

    function pushStats(){

        window.setInterval(function() {
            connection.getStats(null).then(stats => {
                let inBoundBitrate;
                let outBoundBitrate;

                stats.forEach(report => {
                    if (report.type === 'inbound-rtp' && report.mediaType === 'video'){
                        let now = report.timestamp;
                        let bytes = report.bytesReceived;
                        if (inBoundTimestampPrev) {
                            inBoundBitrate = 0.125 * (8 * (bytes - inBoundBytesPrev) / (now - inBoundTimestampPrev));
                            inBoundBitrate = Math.floor(inBoundBitrate);
                        }
                        inBoundBytesPrev = bytes;
                        inBoundTimestampPrev = now;
                    }
                    else if(report.type === 'outbound-rtp' && report.mediaType === 'video'){
                        let now = report.timestamp;
                        let bytes = report.bytesSent;
                        if (outBoundTimestampPrev) {
                            outBoundBitrate = 0.125 * (8 * (bytes - outBoundBytesPrev) / (now - outBoundTimestampPrev));
                            outBoundBitrate = Math.floor(outBoundBitrate);
                        }
                        outBoundBytesPrev = bytes;
                        outBoundTimestampPrev = now;
                    }

                    if(isNaN(inBoundBitrate)){
                        inBoundBitrate = 0;
                    }

                    if(isNaN(outBoundBitrate)){
                        outBoundBitrate = 0;
                    }

                    let inboundVideoWidth = document.getElementById("remoteVideo").videoWidth;
                    let inboundVideoHeight = document.getElementById("remoteVideo").videoHeight;

                    let outboundVideoWidth = document.getElementById("localVideo").videoWidth;
                    let outboundVideoHeight = document.getElementById("localVideo").videoHeight;
                });

            });
        }, 1000);
    }
</script>

</html>